<!DOCTYPE html>

<html>

<head>
  <title>Buy Animal Crossing Bells, Items, DIY Recipes, Bugs, Fish, and more! Any color! Safe, Trusted, Secure! 🔔</title>
  <meta name="description" content="Custom Animal Crossing New Horizons orders with shopping cart. Instant delivery or short queue. 100% positive feedback. Bells, Bugs, Fish, Royal Crowns, Nook Miles Tickets, Raymond, Villagers, and more."/>
  <link rel="canonical" href="https://animalcrossinginc.com/"/>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="main.css">
  <meta name="p:domain_verify" content="3b8d0018fc149faf4885e9f32caed69e"/>
</head>

<body>

  <form id="shopping-list">
    <h2>FriendForest Shopping Cart</h2>
    <h3>My listings have disappeared from eBay due to my trying to access my account via VPN. I am working to get it restored. My account was not compromised.</h3>
    <p>If you've reached this site from anywhere except an order with <a href="https://www.ebay.com/itm/124166934583">lordbritishdn on eBay</a> or hackish on Fiverr, you may be a victim of a scam! If you came from Etsy, message or e-mail me for any verification.
    <br>&nbsp; As eBay has begun to remove ACNH listings from their marketplace, I am tentatively considering moving to an independent platform with secure payments. Bookmark this site to find me later with the same ridiculous pricing on bundles.</p>
    <p>* Currently, Fishes and Bugs are currently offered only on certain listings. Please check the title of your listing before adding them to your cart.</p>
    <p>* If an item can stack, it will show how many to expect in your stack. If you believe the amount is incorrect please let me know and I will correct it!</p>
    <p>* This item list was datamined to create this shopping cart and there may be errors or repeats. If it is impossible to deliver a selected item, you may need to make another selection.<br>&nbsp;&nbsp;Check out <a href="https://villagers.club/">villagers.club</a> or <a href="https://almanook.me/">AlmaNook</a> for a fully searchable catalog.</p>
    <table id="shopping-list-table" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th width="100">Quantity</th>
          <th>Item</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tr v-for="(item, index) in selectedItems">

        <td>
          <span v-show="!item.inEditMode">{{ item.quantity }}</span>
          <input type="number" v-bind:placeholder="item.quantity" v-show="item.inEditMode" v-model="item.quantity" />
        </td>

        <td>
          <img class='selected-list-image' v-bind:src="'https://acnhcdn.com/latest/FtrIcon/' + item.internalName + '.png'">
          {{ item.itemName }}
          <span v-show="item.diy" class="diy">DIY</span><span v-show="item.fishbug" class="fishbug">Premium</span>
        </td>

        <td>
          <button type="button" class="btn btn-success btn-sm" v-show="item.inEditMode" @click="editItemComplete(item)"><i class="fa fa-save"></i> Save </button>
          <button type="button" class="btn btn-info btn-sm" v-show="!item.inEditMode" @click="editItem(item)"><i class="fa fa-edit"></i> Edit </button>
          <button type="button" class="btn btn-danger btn-sm" @click="removeItem(index)"><i class="fa fa-remove"></i> Delete </button>
        </td>

      </tr>
    </table>
    <h4>Add new item</h4>

    <div class="add-item-container">

      <div class="row">
        <div class="col-md-6 form-group">
          <label>Quantity</label>
          <input type="number" max="99" min="1" v-model="quantity" class="checkbox" autofocus>
          <input type="hidden" v-model="validItemSelected" required>
        </div>
        <div class="col-md-6 form-group">
          <label>Item Title</label>
          <div class="autocomplete">
            <input type="text" v-model="itemName" class="checkbox" v-on:keyup="showDropdown = true">

             <i v-if="showDropdown" @click="showDropdown = false" class="close-dropdown fa fa-close"></i>

            <div class="autocomplete__dropdown" v-if="showDropdown">

              <div v-for="(item, index) in filterNamesList" :key="index" class="dropdown_item" @click="populateName(item)">
                 <img v-bind:src="'https://acnhcdn.com/latest/FtrIcon/' + item.internalName + '.png'">
                 <div>

                   {{item.itemName}}<span v-show="item.color"> ({{item.color}})</span>
                    <span v-show="item.diy" class="diy">DIY</span><span v-show="item.fishbug" class="fishbug">Premium</span>

                 </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col">

          <button type="button" @click="addItem" class="btn btn-primary"><i class="fa fa-plus"></i> Add </button>

          <div class="error-message">{{ errorMessage }}</div>
          <span v-show="fishbugCount > 0" class="fishbug-status"><br>You have {{ fishbugCount }} Fish/Bug item(s) in your cart!<br>Please ensure this is allowed in your order type as they are not normally included, and I am the only seller with them available.<br>Contact lordbritishdn for upgrade details!<br><br></span>
        </div>

      </div>

    </div>


    <div class="totals">
      <total>{{ itemCount }} total items in order</total>
      <total>{{ diyCount }} of them are are DIY recipes</total>
      <total>{{ trips }} trips needed if you learn all DIYs</total>
    </div>


    <div class="output">
      <p>Click copy below and send to lordbritishdn, or your order cannot be completed.</p>
      <input type="hidden" id="codeToCopy" v-model="codeOutput">
      <span class="btn btn-success text-white copy-btn" @click.stop.prevent="copyToClipboard">
        <i class="fa fa-copy"></i> Copy order code to clipboard
      </span>
    </div>

    <br><p>If it does not work for some reason, copy and paste the code below:</p>
    <div class="code-output">
      <code><pre>{{ codeOutput2 }}</pre><code>
    </div>


  </form>


  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="app.js"></script>

</body>
</html>
