<!DOCTYPE html>

<html>

<head>
  <title>Animal Crossing Shopping Cart</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="main.css">
  <meta name="p:domain_verify" content="3b8d0018fc149faf4885e9f32caed69e"/>
</head>

<body>

  <form id="shopping-list">
    <h2>Animal Crossing Order Planner</h2>
    <p>If you've reached this site from anywhere except an order with <a href="https://www.ebay.com/itm/124166934583">lordbritishdn on eBay</a>, you may be a victim of a scam! If you came from Etsy, message or e-mail me for any verification.</p>
    <p><strong>Do not leave or refresh this page until you have copied the code!</strong> The shopping cart does not yet save itself. Sorry!</p>
    <p>* Currently, Fishes and Bugs are currently offered only on certain listings. Please check the title of your listing before adding them to your cart.</p>
    <p>* If an item can stack, it will show how many to expect in your stack. If you believe the amount is incorrect please let me know and I will correct it!</p>
    <p>* This item list was datamined to create this shopping cart and there may be errors or repeats. If it is impossible to deliver a selected item, you may need to make another selection.<br>&nbsp;&nbsp;Check out <a href="https://villagers.club/">villagers.club</a> or <a href="https://almanook.me/">AlmaNook</a> for a fully searchable catalog.</p>
    <table id="shopping-list-table" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Item</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tr v-for="(item, index) in selectedItems">

        <td>
          <span v-show="!item.inEditMode">{{ item.quantity }}</span>
          <input type="number" v-bind:placeholder="item.quantity" v-show="item.inEditMode" v-model="item.quantity" />
        </td>

        <td>
          <img class='selected-list-image' v-bind:src="'https://acnhcdn.com/latest/FtrIcon/' + item.internalName + '.png'">
          {{ item.itemName }}
          <span v-show="item.diy" class="diy">DIY</span><span v-show="item.fishbug" class="fishbug">Premium</span>
        </td>

        <td>
          <button type="button" class="btn btn-success" v-show="item.inEditMode" @click="editItemComplete(item)"><i class="fa fa-save"></i> Save </button>
          <button type="button" class="btn btn-info" v-show="!item.inEditMode" @click="editItem(item)"><i class="fa fa-edit"></i> Edit </button>
          <button type="button" class="btn btn-danger" @click="removeItem(index)"><i class="fa fa-remove"></i> Delete </button>
        </td>

      </tr>
    </table>
    <h4>Add new item</h4>

    <div class="add-item-container">

      <div class="row">
        <div class="col-md-6 form-group">
          <label>Quantity</label>
          <input type="number" max="99" min="1" v-model="quantity" class="checkbox" autofocus>
        </div>
        <div class="col-md-6 form-group">
          <label>Item Title</label>
          <div class="autocomplete">
            <input type="text" v-model="itemName" class="checkbox" v-on:keyup="showDropdown = true">

             <i v-if="showDropdown" @click="showDropdown = false" class="close-dropdown fa fa-close"></i>

            <div class="autocomplete__dropdown" v-if="showDropdown">

              <div v-for="(item, index) in filterNamesList" :key="index" class="dropdown_item" @click="populateName(item)">
                 <img v-bind:src="'https://acnhcdn.com/latest/FtrIcon/' + item.internalName + '.png'">
                 <div>

                   {{item.itemName}}<span v-show="item.color"> ({{item.color}})</span>
                    <span v-show="item.diy" class="diy">DIY</span><span v-show="item.fishbug" class="fishbug">Premium</span>

                 </div>

              </div>

            </div>

          </div>

        </div>

        <button type="button" @click="addItem" class="btn btn-primary"><i class="fa fa-plus"></i> Add </button>

        <div class="error-message">{{ errorMessage }}</div>
        <span v-show="fishbugCount > 0" class="fishbug-status"><br>You have {{ fishbugCount }} Fish/Bug item(s) in your cart!<br>Please ensure this is allowed in your order type as they are not normally included, and I am the only seller with them available.<br>Contact lordbritishdn for upgrade details!<br><br></span>
      </div>

    </div>
    <div class="totals">
      {{ itemCount }} total items in order<br>
      {{ diyCount }} of them are are DIY recipes<br>
      {{ trips }} trips needed, assuming 40 pockets and you learn DIYs!
    </div>

    <p>Copy and paste the below code <strong>IN FULL</strong> to lordbritishdn, or your order cannot be completed:</p>
    <div class="code-output">
      <code><pre>{{ codeOutput }}</pre><code>
    </div>


  </form>


  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="app.obf.js"></script>

</body>
</html>
